<h1>Registro</h1>
{{!-- En caso de que exista se renderiza el contenido de la variable errors pasada como contexto por express --}}
{{errors}}
<form method="post">
    <div class="row">
        <div class="col-6">
            <label for="first_name">Nombre:</label>
            <input 
                {{!-- El tipo de dato que acepta el input  --}}
                type="text" 
                {{!-- Las clases Css que le darán estilos al campo(Clases de Bootstrap) --}}
                class="form-control" 
                {{!-- El ID del campo, debe ser único en el documento --}}
                id="first_name"
                {{!-- El nombre que usara BodyParser para extraer la informacion de este campo,
                    es muy importante, si no se establece esta propiedad, bodyParser no podrá
                    extraer la informacion de este campo.
                 --}}
                name="firstName"
                {{!-- En caso de que exista se le establece un valor inicial al input, el mismo es pasado como contexto 
                    por express mediante la variable data --}}
                value="{{data.firstName}}"
                {{!-- Marca el campo como requerido --}}
                required
            >
        </div>
        <div class="col-6">
            <label for="last_name">Apellido: </label>
            <input 
                type="text"
                class="form-control"
                id="last_name"
                name="lastName"
                value="{{data.lastName}}"
                required 
            >
        </div>
        <div class="col-4">
            <label for="username">Nombre de Usuario: </label>
            <input 
                type="text"
                class="form-control"
                id="username"
                name="username"
                minlength="6"
                value="{{data.username}}"
                required
            >
        </div>
        <div class="col-4">
            <label for="born_day">Fecha de Nacimiento: </label>
            <input 
                type="date"
                class="form-control"
                id="born_day"
                name="bornDay"
                value="{{data.bornDay}}"
                required
            >
        </div>
        <div class="col-4">
            <label for="email">Email: </label>
            <input 
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="{{data.email}}"
                required
            >
        </div>
        <div class="col-6">
            <label for="password1">Contraseña: </label>
            <input 
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                required
            >
        </div>
        <div class="col-6">
            <label for="password2">Repita su Contraseña:</label>
            <input 
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                required
            >
        </div>
        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </div>
</form>